main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

body{
  background-color: darksalmon;
  
}

h2{
  font-size: 7rem;
}
h4{

  margin-top: 40px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  text-align: center;
  font-size: 2.5rem;
  background-color: thistle;
}

.IntervalBox{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 1.5rem;
  align-items: center;
}

.IntervalLengthContainer{
  display: flex;
  margin: 0 70px;
}


button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin: 10px;
  border:2px solid ;
  border-radius:10px;
  box-sizing: border-box;
  text-decoration:none;
  font-family: monospace;
  font-weight:300;
  color:rgb(0, 0, 0);
  text-align:center;
  transition: all 0.2s;
  width: 100px;
}



.TimerContainer{
  margin-top: 40px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  background-color: thistle
}

.timer{
  text-align: center;
  font-size:  2rem;
}

.timer-action{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  
}

.margin-fix{
  margin: 10px;
}